body {
  font-family: Arial;
  background: #f4f6f9;
  display: flex;
  justify-content: center;
  margin-top: 50px;
}

.container {
  background: white;
  padding: 20px;
  width: 350px;
  border-radius: 10px;
  box-shadow: 0 5px 15px rgba(0,0,0,0.1);
}

input {
  width: 70%;
  padding: 8px;
}

button {
  padding: 8px;
  margin-top: 5px;
  cursor: pointer;
}

ul {
  list-style: none;
  padding: 0;
}

li {
  padding: 8px;
  margin-top: 5px;
  background: #e3f2fd;
  display: flex;
  justify-content: space-between;
}