body {
  font-family: Arial, sans-serif;
  background: #f4f6f8;
  display: flex;
  justify-content: center;
  padding: 20px;
}

.app {
  background: #fff;
  width: 100%;
  max-width: 350px;
  padding: 20px;
  border-radius: 10px;
}

input {
  width: 70%;
  padding: 8px;
}

button {
  padding: 8px 10px;
  cursor: pointer;
}

ul {
  list-style: none;
  padding: 0;
}

li {
  display: flex;
  justify-content: space-between;
  margin: 5px 0;
}

.progress-box {
  width: 100%;
  height: 10px;
  background: #ddd;
  border-radius: 5px;
  margin-top: 10px;
}

#progressBar {
  height: 100%;
  width: 0%;
  background: green;
  border-radius: 5px;
}